body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:
  -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 1) 95%),
  -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 5%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.9) 92%),
  url(./images/animate.gif);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
